In [22]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
# 多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [23]:
from fastai.basics import *
from fastai.tabular import *
# import modin.pandas as pd

# Rossmann 数据预处理

In [24]:
Config.data_path()

PosixPath('/home/lyc/.fastai/data')

In [25]:
ROOT = Config.data_path()/'rossmann'
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather', 'test']
tables = [pd.read_csv(ROOT/f'{fname}.csv', low_memory=False) for fname in table_names]
train, store, store_states, state_names, googletrend, weather, test = tables
len(train),len(test)

(1017209, 41088)

In [26]:
train.head()
test.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

- 使用 bool 值

In [27]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [28]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,1
1,2,5,2015-07-31,6064,625,1,1,False,1
2,3,5,2015-07-31,8314,821,1,1,False,1
3,4,5,2015-07-31,13995,1498,1,1,False,1
4,5,5,2015-07-31,4822,559,1,1,False,1

In [29]:
store.head()
store_states.head()
state_names.head()
googletrend.head()
weather.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

- 合并数据

In [30]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [31]:
?pd.merge

Signature:
pd.merge(
    left,
    right,
    how='inner',
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=('_x', '_y'),
    copy=True,
    indicator=False,
    validate=None,
)
Docstring:
Merge DataFrame or named Series objects with a database-style join.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : tuple of (str, str), default ('_x', '_y')
    Suffix to apply to overlapping column names in the left and right
    side, respectively. To raise an exception on overlapping columns use
    (False, False).
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to output DataFrame called "_merge" with
    information on the source of each row.
    If string, column with information on source of each row will be added to
    output DataFrame, and column will be named value of string.
    Information column is Categorical-type and takes on a value of "left_only"
    for observations whose merge key only appears in 'left' DataFrame,
    "right_only" for observations whose merge key only appears in 'right'
    DataFrame, and "both" if the observation's merge key is found in both.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

    .. versionadded:: 0.21.0

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------

>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')
File:      ~/miniconda3/envs/torch36/lib/python3.6/site-packages/pandas/core/reshape/merge.py
Type:      function

In [32]:
weather.columns
state_names.columns

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees'],
      dtype='object')

Index(['StateName', 'State'], dtype='object')

In [33]:
weather = join_df(weather, state_names, "file", "StateName")

In [34]:
weather.columns
state_names.columns

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'State'],
      dtype='object')

Index(['StateName', 'State'], dtype='object')

In [35]:
weather.tail().T

,15835,15836,15837,15838,15839
file,Saarland,Saarland,Saarland,Saarland,Saarland
Date,2015-09-13,2015-09-14,2015-09-15,2015-09-16,2015-09-17
Max_TemperatureC,21,18,16,19,14
Mean_TemperatureC,17,14,12,15,13
Min_TemperatureC,12,11,9,11,12
Dew_PointC,16,15,11,16,14
MeanDew_PointC,14,12,8,13,12
Min_DewpointC,12,7,7,10,10
Max_Humidity,100,99,93,97,99
Mean_Humidity,88,85,77,90,92
Min_Humidity,68,61,62,75,82
Max_Sea_Level_PressurehPa,1015,1009,1010,1004,1013
Mean_Sea_Level_PressurehPa,1010,1005,1008,999,1005
Min_Sea_Level_PressurehPa,1005,1004,1004,995,999
Max_VisibilityKm,31,31,31,31,31
Mean_VisibilityKm,15,13,12,10,14
Min_VisibilitykM,10,4,10,4,8
Max_Wind_SpeedKm_h,27,32,34,32,27
Mean_Wind_SpeedKm_h,10,16,14,14,16
Max_Gust_SpeedKm_h,50,53,NaN,45,47
Precipitationmm,1.02,9.91,0,20.07,6.1
CloudCover,7,5,5,7,6
Events,Rain,Rain-Thunderstorm,Rain,Rain-Thunderstorm,Rain
WindDirDegrees,113,213,193,147,202
StateName,Saarland,Saarland,Saarland,Saarland,Saarland
State,SL,SL,SL,SL,SL

In [36]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [37]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [38]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [39]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [40]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

In [41]:
weather.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01 00:00:00,2013-01-02 00:00:00,2013-01-03 00:00:00,2013-01-04 00:00:00,2013-01-05 00:00:00
Max_TemperatureC,8,7,11,9,8
Mean_TemperatureC,4,4,8,9,8
Min_TemperatureC,2,1,6,8,7
Dew_PointC,7,5,10,9,8
MeanDew_PointC,5,3,8,9,7
Min_DewpointC,1,2,4,8,6
Max_Humidity,94,93,100,100,100
Mean_Humidity,87,85,93,94,94
Min_Humidity,65,78,77,87,87
Max_Sea_Level_PressurehPa,1013,1028,1035,1036,1035
Mean_Sea_Level_PressurehPa,1005,1022,1030,1035,1034
Min_Sea_Level_PressurehPa,1001,1014,1026,1034,1033
Max_VisibilityKm,31,31,31,11,10
Mean_VisibilityKm,12,14,8,5,6
Min_VisibilitykM,4,10,2,2,3
Max_Wind_SpeedKm_h,39,24,26,23,16
Mean_Wind_SpeedKm_h,26,16,21,14,10
Max_Gust_SpeedKm_h,58,NaN,NaN,NaN,NaN
Precipitationmm,5.08,0,1.02,0.25,0
CloudCover,6,6,7,7,7
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,225,240,263,268
StateName,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
State,NW,NW,NW,NW,NW
Year,2013,2013,2013,2013,2013
Month,1,1,1,1,1
Week,1,1,1,1,1
Day,1,2,3,4,5
Dayofweek,1,2,3,4,5
Dayofyear,1,2,3,4,5
Is_month_end,False,False,False,False,False
Is_month_start,True,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,True,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,True,False,False,False,False
Elapsed,1356998400,1357084800,1357171200,1357257600,1357344000

In [42]:
googletrend.head()

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,SN,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,SN,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,SN,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,SN,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,SN,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600

In [43]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [44]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [45]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [46]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [48]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN
State,HE,TH,NW,BE,SN

In [50]:
joined_test.head().T

,0,1,2,3,4
Id,1,2,3,4,5
Store,1,3,7,8,9
DayOfWeek,4,4,4,4,4
Date,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,0,0,0,0,0
Year,2015,2015,2015,2015,2015
Month,9,9,9,9,9
Week,38,38,38,38,38
Day,17,17,17,17,17
Dayofweek,3,3,3,3,3
Dayofyear,260,260,260,260,260
Is_month_end,False,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1442448000,1442448000,1442448000,1442448000,1442448000
StoreType,c,a,a,a,a
Assortment,a,a,c,a,c
CompetitionDistance,1270,14130,24000,7520,2030
CompetitionOpenSinceMonth,9,12,4,10,8
CompetitionOpenSinceYear,2008,2006,2013,2014,2000
Promo2,0,1,0,0,0
Promo2SinceWeek,NaN,14,NaN,NaN,NaN
Promo2SinceYear,NaN,2011,NaN,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct",NaN,NaN,NaN
State,HE,NW,SH,SH,NW

In [51]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [52]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [53]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [54]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
...,...,...,...,...,...
Max_Humidity,98,100,100,94,82
Mean_Humidity,54,62,61,61,55
Min_Humidity,18,25,24,30,26
Max_Sea_Level_PressurehPa,1021,1021,1022,1019,1020
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
Year_y,2015,2015,2015,2015,2015
Month_y,7,7,7,7,7
Week_y,31,31,31,31,31
Day_y,31,31,31,31,31
Dayofweek_y,4,4,4,4,4
Dayofyear_y,212,212,212,212,212
Is_month_end_y,True,True,True,True,True
Is_month_start_y,False,False,False,False,False
Is_quarter_end_y,False,False,False,False,False
Is_quarter_start_y,False,False,False,False,False
Is_year_end_y,False,False,False,False,False
Is_year_start_y,False,False,False,False,False
Elapsed_y,1438300800,1438300800,1438300800,1438300800,1438300800

In [55]:
joined_test.head().T

,0,1,2,3,4
Id,1,2,3,4,5
Store,1,3,7,8,9
DayOfWeek,4,4,4,4,4
Date,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,0,0,0,0,0
Year,2015,2015,2015,2015,2015
Month,9,9,9,9,9
Week,38,38,38,38,38
Day,17,17,17,17,17
Dayofweek,3,3,3,3,3
Dayofyear,260,260,260,260,260
Is_month_end,False,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1442448000,1442448000,1442448000,1442448000,1442448000
StoreType,c,a,a,a,a
Assortment,a,a,c,a,c
CompetitionDistance,1270,14130,24000,7520,2030
CompetitionOpenSinceMonth,9,12,4,10,8
CompetitionOpenSinceYear,2008,2006,2013,2014,2000
Promo2,0,1,0,0,0
Promo2SinceWeek,NaN,14,NaN,NaN,NaN
Promo2SinceYear,NaN,2011,NaN,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct",NaN,NaN,NaN
...,...,...,...,...,...
Max_Humidity,100,100,96,96,100
Mean_Humidity,95,78,73,73,78
Min_Humidity,88,58,61,61,58
Max_Sea_Level_PressurehPa,1013,1010,1003,1003,1010
Mean_Sea_Level_PressurehPa,1004,1000,998,998,1000
Min_Sea_Level_PressurehPa,999,993,994,994,993
Max_VisibilityKm,31,26,26,26,26
Mean_VisibilityKm,12,12,10,10,12
Min_VisibilitykM,7,8,2,2,8
Max_Wind_SpeedKm_h,29,37,29,29,37
Mean_Wind_SpeedKm_h,14,26,14,14,26
Max_Gust_SpeedKm_h,NaN,53,45,45,53
Precipitationmm,7.11,3.05,0.76,0.76,3.05
CloudCover,6,6,5,5,6
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,191,187,209,209,187
StateName,Hessen,NordrheinWestfalen,SchleswigHolstein,SchleswigHolstein,NordrheinWestfalen
Year_y,2015,2015,2015,2015,2015
Month_y,9,9,9,9,9
Week_y,38,38,38,38,38
Day_y,17,17,17,17,17
Dayofweek_y,3,3,3,3,3
Dayofyear_y,260,260,260,260,260
Is_month_end_y,False,False,False,False,False
Is_month_start_y,False,False,False,False,False
Is_quarter_end_y,False,False,False,False,False
Is_quarter_start_y,False,False,False,False,False
Is_year_end_y,False,False,False,False,False
Is_year_start_y,False,False,False,False,False
Elapsed_y,1442448000,1442448000,1442448000,1442448000,1442448000

In [56]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

In [57]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
...,...,...,...,...,...
Is_month_end_DE,False,False,False,False,False
Is_month_start_DE,False,False,False,False,False
Is_quarter_end_DE,False,False,False,False,False
Is_quarter_start_DE,False,False,False,False,False
Is_year_end_DE,False,False,False,False,False
Is_year_start_DE,False,False,False,False,False
Elapsed_DE,1438473600,1438473600,1438473600,1438473600,1438473600
Max_TemperatureC,23,19,21,19,20
Mean_TemperatureC,16,13,13,14,15
Min_TemperatureC,8,7,6,9,10
Dew_PointC,9,9,10,9,8
MeanDew_PointC,6,6,7,7,6
Min_DewpointC,3,3,4,4,5
Max_Humidity,98,100,100,94,82
Mean_Humidity,54,62,61,61,55
Min_Humidity,18,25,24,30,26
Max_Sea_Level_PressurehPa,1021,1021,1022,1019,1020
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen

In [58]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
...,...,...,...,...,...
Is_month_end_DE,False,False,False,False,False
Is_month_start_DE,False,False,False,False,False
Is_quarter_end_DE,False,False,False,False,False
Is_quarter_start_DE,False,False,False,False,False
Is_year_end_DE,False,False,False,False,False
Is_year_start_DE,False,False,False,False,False
Elapsed_DE,1438473600,1438473600,1438473600,1438473600,1438473600
Max_TemperatureC,23,19,21,19,20
Mean_TemperatureC,16,13,13,14,15
Min_TemperatureC,8,7,6,9,10
Dew_PointC,9,9,10,9,8
MeanDew_PointC,6,6,7,7,6
Min_DewpointC,3,3,4,4,5
Max_Humidity,98,100,100,94,82
Mean_Humidity,54,62,61,61,55
Min_Humidity,18,25,24,30,26
Max_Sea_Level_PressurehPa,1021,1021,1022,1019,1020
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen

In [59]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

In [60]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [61]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [62]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

In [63]:
from isoweek import Week
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [64]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

array([ 0, 25, 17,  8, 13, 24, 16,  7, 12, 23, 15,  6, 11, 22, 14,  5, 10, 21,  4,  9, 20,  3, 19,  2, 18,  1])

array([ 0, 25, 24, 15, 20, 23, 14, 19, 22, 13, 18, 21, 12, 17, 11, 16, 10,  9,  8])

In [65]:
joined.to_pickle(ROOT/'joined')
joined_test.to_pickle(ROOT/'joined_test')

In [66]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
Promo2SinceYear,1900,2010,2011,1900,1900
...,...,...,...,...,...
Elapsed_DE,1438473600,1438473600,1438473600,1438473600,1438473600
Max_TemperatureC,23,19,21,19,20
Mean_TemperatureC,16,13,13,14,15
Min_TemperatureC,8,7,6,9,10
Dew_PointC,9,9,10,9,8
MeanDew_PointC,6,6,7,7,6
Min_DewpointC,3,3,4,4,5
Max_Humidity,98,100,100,94,82
Mean_Humidity,54,62,61,61,55
Min_Humidity,18,25,24,30,26
Max_Sea_Level_PressurehPa,1021,1021,1022,1019,1020
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
CompetitionOpenSince,2008-09-15 00:00:00,2007-11-15 00:00:00,2006-12-15 00:00:00,2009-09-15 00:00:00,2015-04-15 00:00:00
CompetitionDaysOpen,2510,2815,3150,2145,107
CompetitionMonthsOpen,24,24,24,24,3
Promo2Since,1900-01-01 00:00:00,2010-03-29 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,0,1950,1579,0,0
Promo2Weeks,0,25,25,0,0

In [67]:
joined_test.head().T

,0,1,2,3,4
Id,1,2,3,4,5
Store,1,3,7,8,9
DayOfWeek,4,4,4,4,4
Date,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,0,0,0,0,0
Year,2015,2015,2015,2015,2015
Month,9,9,9,9,9
Week,38,38,38,38,38
Day,17,17,17,17,17
Dayofweek,3,3,3,3,3
Dayofyear,260,260,260,260,260
Is_month_end,False,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1442448000,1442448000,1442448000,1442448000,1442448000
StoreType,c,a,a,a,a
Assortment,a,a,c,a,c
CompetitionDistance,1270,14130,24000,7520,2030
CompetitionOpenSinceMonth,9,12,4,10,8
CompetitionOpenSinceYear,2008,2006,2013,2014,2000
Promo2,0,1,0,0,0
Promo2SinceWeek,1,14,1,1,1
Promo2SinceYear,1900,2011,1900,1900,1900
PromoInterval,NaN,"Jan,Apr,Jul,Oct",NaN,NaN,NaN
...,...,...,...,...,...
Elapsed_DE,1442707200,1442707200,1442707200,1442707200,1442707200
Max_TemperatureC,16,17,18,18,17
Mean_TemperatureC,14,14,16,16,14
Min_TemperatureC,13,12,13,13,12
Dew_PointC,16,14,16,16,14
MeanDew_PointC,14,12,13,13,12
Min_DewpointC,12,11,11,11,11
Max_Humidity,100,100,96,96,100
Mean_Humidity,95,78,73,73,78
Min_Humidity,88,58,61,61,58
Max_Sea_Level_PressurehPa,1013,1010,1003,1003,1010
Mean_Sea_Level_PressurehPa,1004,1000,998,998,1000
Min_Sea_Level_PressurehPa,999,993,994,994,993
Max_VisibilityKm,31,26,26,26,26
Mean_VisibilityKm,12,12,10,10,12
Min_VisibilitykM,7,8,2,2,8
Max_Wind_SpeedKm_h,29,37,29,29,37
Mean_Wind_SpeedKm_h,14,26,14,14,26
Max_Gust_SpeedKm_h,NaN,53,45,45,53
Precipitationmm,7.11,3.05,0.76,0.76,3.05
CloudCover,6,6,5,5,6
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,191,187,209,209,187
StateName,Hessen,NordrheinWestfalen,SchleswigHolstein,SchleswigHolstein,NordrheinWestfalen
CompetitionOpenSince,2008-09-15 00:00:00,2006-12-15 00:00:00,2013-04-15 00:00:00,2014-10-15 00:00:00,2000-08-15 00:00:00
CompetitionDaysOpen,2558,3198,885,337,5511
CompetitionMonthsOpen,24,24,24,11,24
Promo2Since,1900-01-01 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,0,1627,0,0,0
Promo2Weeks,0,25,0,0,0

In [68]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

In [69]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [70]:
df = train[columns].append(test[columns])

In [71]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [72]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [73]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [74]:
df = df.set_index("Date")

In [75]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [76]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

In [77]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [78]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [79]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [80]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [81]:
df.reset_index(inplace=True)

In [82]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [83]:
df.drop(columns,1,inplace=True)

In [84]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0

In [85]:
df.to_pickle(ROOT/'df')

In [86]:
df["Date"] = pd.to_datetime(df.Date)

In [87]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [88]:
joined = pd.read_pickle(ROOT/'joined')
joined_test = pd.read_pickle(ROOT/f'joined_test')

In [89]:
joined = join_df(joined, df, ['Store', 'Date'])

In [90]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

In [91]:
joined = joined[joined.Sales!=0]

In [92]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [93]:
joined.to_pickle(ROOT/'train_clean')
joined_test.to_pickle(ROOT/'test_clean')

In [94]:
joined.head().T

,0,1,2,3,4
index,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,1,1,1,1,1
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
...,...,...,...,...,...
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
CompetitionOpenSince,2008-09-15 00:00:00,2007-11-15 00:00:00,2006-12-15 00:00:00,2009-09-15 00:00:00,2015-04-15 00:00:00
CompetitionDaysOpen,2510,2815,3150,2145,107
CompetitionMonthsOpen,24,24,24,24,3
Promo2Since,1900-01-01 00:00:00,2010-03-29 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,0,1950,1579,0,0
Promo2Weeks,0,25,25,0,0
AfterSchoolHoliday,0,0,0,0,0
BeforeSchoolHoliday,0,0,0,0,0
AfterStateHoliday,57,67,57,67,57
BeforeStateHoliday,0,0,0,0,0
AfterPromo,0,0,0,0,0
BeforePromo,0,0,0,0,0
SchoolHoliday_bw,5,5,5,5,5
StateHoliday_bw,0,0,0,0,0
Promo_bw,5,5,5,5,5
SchoolHoliday_fw,7,1,5,1,1
StateHoliday_fw,0,0,0,0,0
Promo_fw,5,1,5,1,1

In [95]:
joined_test.head().T

,0,1,2,3,4
index,0,1,2,3,4
Id,1,2,3,4,5
Store,1,3,7,8,9
DayOfWeek,4,4,4,4,4
Date,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,0,0,0,0,0
Year,2015,2015,2015,2015,2015
Month,9,9,9,9,9
Week,38,38,38,38,38
Day,17,17,17,17,17
Dayofweek,3,3,3,3,3
Dayofyear,260,260,260,260,260
Is_month_end,False,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1442448000,1442448000,1442448000,1442448000,1442448000
StoreType,c,a,a,a,a
Assortment,a,a,c,a,c
CompetitionDistance,1270,14130,24000,7520,2030
CompetitionOpenSinceMonth,9,12,4,10,8
CompetitionOpenSinceYear,2008,2006,2013,2014,2000
Promo2,0,1,0,0,0
Promo2SinceWeek,1,14,1,1,1
Promo2SinceYear,1900,2011,1900,1900,1900
...,...,...,...,...,...
Min_Sea_Level_PressurehPa,999,993,994,994,993
Max_VisibilityKm,31,26,26,26,26
Mean_VisibilityKm,12,12,10,10,12
Min_VisibilitykM,7,8,2,2,8
Max_Wind_SpeedKm_h,29,37,29,29,37
Mean_Wind_SpeedKm_h,14,26,14,14,26
Max_Gust_SpeedKm_h,NaN,53,45,45,53
Precipitationmm,7.11,3.05,0.76,0.76,3.05
CloudCover,6,6,5,5,6
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,191,187,209,209,187
StateName,Hessen,NordrheinWestfalen,SchleswigHolstein,SchleswigHolstein,NordrheinWestfalen
CompetitionOpenSince,2008-09-15 00:00:00,2006-12-15 00:00:00,2013-04-15 00:00:00,2014-10-15 00:00:00,2000-08-15 00:00:00
CompetitionDaysOpen,2558,3198,885,337,5511
CompetitionMonthsOpen,24,24,24,11,24
Promo2Since,1900-01-01 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,0,1627,0,0,0
Promo2Weeks,0,25,0,0,0
AfterSchoolHoliday,13,37,20,20,37
BeforeSchoolHoliday,0,0,0,0,0
AfterStateHoliday,105,105,115,115,105
BeforeStateHoliday,0,0,0,0,0
AfterPromo,0,0,0,0,0
BeforePromo,0,0,0,0,0
SchoolHoliday_bw,0,0,0,0,0
StateHoliday_bw,0,0,0,0,0
Promo_bw,4,4,4,4,4
SchoolHoliday_fw,0,0,0,0,0
StateHoliday_fw,0,0,0,0,0
Promo_fw,1,1,1,1,1